# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


CLAUDE.md 

# ignore the database
*.db
*.pyc


.env*
.venv*

.env

__pycache__/
*.pyc
*.pyo

*.md 


covalent_mcp/toolclasses/github/github_token.json
covalent_mcp/toolclasses/google/oauth_secrets.json
