anthropic
composio-langchain
composio
mcp
langchain
pydantic
langchain-core
httpx
starlette
numpy
scikit-learn
python-dotenv
protobuf
asyncio
langchain-mcp-adapters
langgraph
fastmcp
google
google-generativeai
playwright
langchain-anthropic
Pillow
requests