typing-extensions
anthropic
mcp
langchain
pydantic
fastapi
uvicorn[standard]
langchain-core
httpx
starlette
numpy
scikit-learn
python-dotenv
protobuf
asyncio
langchain-mcp-adapters
langgraph
fastmcp
google
google-genai
playwright
langchain-anthropic
langchain-aws
langchain-openai
Pillow
pypdf
requests
llmgraph
pytz
google-auth
google-auth-oauthlib
google-auth-httplib2
fastmcp
posthog
